# A file I keep notes in that I don't want to commit to the repo
notes.txt

# The actual password file should not be committed to the repo
libreelec-password.txt

# Ignore generated .plist files
*.plist

# but keep the example
!example.*.plist
